<% include ../header %>
	<h1><%= post.title %></h1>
	<div class="border border-info p-3">
		<h4 class="text-info my-3"><%= post.body %></h4>
		<a class="btn btn-primary mb-3" href="/about/edit">Edit</a>
	</div>
<% include ../footer %>