<% include ../header %>
	<div class="card">
		<div class="card-header">
			<h1><%= post.title %></h1>
		</div>
		<div class="card-body">
			<p><%= post.body %></p>
		</div>
	</div>
	<p><a class="float-right mt-3 btn btn-primary" href="/news">Back</a></p>
<% include ../footer %>